<header class="py-10 text-center text-white">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">
        No Thanks
    </h1>
    <main>
        <p class="text-lg md:text-xl text-blue-100 max-w-2xl mx-auto overflow-x-hidden">
            A simple static site to showcase all my side projects.
        </p>
    </main>
</header>