---
import Project from "./Project.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<main class="flex justify-center items-start flex-col px-16 mx-auto w-[60%]">
    <h2 class="text-4xl font-bold pb-10">Projects</h2>
    <ul class="list-none">
        <li class="pb-8">
            {
                projects.map(async (project) => {                    
                    const { Content } = await project.render();
                    return (
                        <div class="py-2">
                            <Project
                                projectTitle={project.data.title}
                                projectDescription={project.data.description}
                                link={project.data.link}
                            />
                        </div>
                    );
                }
                )
            }
        </li>
    </ul>
</main>
