<main class="flex justify-center items-start flex-col px-16 mx-auto w-[60%]">
    <h2 class="text-3xl font-bold mb-4">Projects</h2>
    <ul class="list-none">
        <li>
            <a href="#" class="text-blue-400 hover:underline">Project 1</a>
        </li>
        <li>
            <a href="#" class="text-blue-400 hover:underline">Project 2</a>
        </li>
        <li>
            <a href="#" class="text-blue-400 hover:underline">Project 3</a>
        </li>
    </ul>
</main>