---
const { projectTitle, projectDescription, link } = Astro.props;
---

<section class="pb-4">
    <h3 class="text-2xl font-bold">
        <a
            href={link}
            target="_blank"
            class="hover:text-blue-400 hover:underline">{projectTitle}</a
        >
    </h3>
    <p class="text-gray-400">{projectDescription}</p>
</section>