---
const { link } = Astro.props;
---

<a 
    href={link}
    target="_blank"
    class="inline-flex items-center text-cyan-400 hover:text-cyan-300 transition-colors duration-300 group"
>
    View Project
    <svg class="w-4 h-4 ml-1 group-hover:translate-x-1 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
    </svg>
</a>