---
import "../styles/global.css";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A simple static site to showcase all my side projects." />
		<title>No Thanks</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-gradient-to-br from-zinc-900 to-zinc-900 text-white min-h-screen">
		<div class="container mx-auto px-4 py-8">
			<slot />
		</div>
	</body>
</html>